body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left: 0.75rem;
    margin-top: 0.625rem;
    color: rgb(0,0,0);
}

.container {
    width: 91%;
    max-width: 788px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(141, 134, 134);
    margin-top: -0.2rem;
    margin-bottom: 1.875rem
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: rgb(52,52,52);
}

.tile-share-button svg {
    margin-left: 0.75rem;
    margin-top: 0.625rem;
}

.placeholder {
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}

.image-container {
    height: 6rem;
    width: 6rem;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    margin-top: -5px;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Adjust the font size for smaller screens if needed */
    }

    header {
        padding: 8px; /* Adjust padding for smaller screens if needed */
    }

    .container {
        width: 100%;
        margin: 5px;
    }

    h1 {
        font-size: 1rem; /* Adjust the font size for smaller screens if needed */
        margin-bottom: 1rem;
    }

    .tile {
        margin: 5px;
        border-radius: 10px;
    }

    .tile-share-button {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }

    .image-container {
        height: 4rem;
        width: 4rem;
        border-radius: 32px;
    }

    .image-container img {
        margin-top: 0; /* Adjust margin for smaller screens if needed */
    }

    .icon {
        margin: 2px 4px;
        width: 32px;
        height: 32px;
    }
}